body{
  background:#EDECE3;
}
@media only screen and (min-width:768px) and
(max-width: 1024px) {
  .header-index{
    height:300px;
  }
}

@media screen and (max-width:767px) {
  .header-index {
    height:200px;
  }
}

main {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

header{
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items:baseline;
}

 #menu {
   list-style-type: none;
   margin:10px;
   padding:35px;
 }

 li {
   float: right;
 }

 #linkkontakt {
   display:block;
   margin-left: 10px;
   margin-right: 60px;
   margin-top: 0px;
   padding:10px;
   background-color: rgba(173, 217, 255, 0.3);
   text-decoration: none;
   font-size: 20px;
   font-style: normal;
   border: 1px solid;
   border-radius: 25px;
   color: black;
 }

 #linkkompetencer {
   display:block;
   margin-left: 10px;
   margin-right: 60px;
   margin-top: 0px;
   padding:10px;
   background-color: rgba(173, 217, 255, 0.3);
   text-decoration: none;
   font-size: 20px;
   font-style: normal;
   border: 1px solid;
   border-radius: 25px;
   color: black;
 }

 #linkommig {
   display:block;
   margin-left: 10px;
   margin-right: 60px;
   margin-top: 0px;
   padding:10px;
   background-color: rgba(173, 217, 255, 0.3);
   text-decoration: none;
   font-size: 20px;
   font-style: normal;
   border: 1px solid;
   border-radius: 25px;
   color: black;
 }


 li a:hover {
   background-color: #ADD9FF; opacity: 40%;
 }

  #hvemerjeg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 2%;
  }

#span1{
  font-size: 160%;
  font-style: italic;
  position:static;
  font-family: poppins;
  font-style: italic;
}

  #one{
    margin-top: 4%;
    margin-right:22%;
    margin-left: 10%;
    padding: 2%;
    width: 25%;
    background-color:#ffffff;
    text-align: center;
    font-family: poppins;
    font-size: 120%;
    border-radius: 25px;
    border: 2px solid #BCBBE1;
  }

  #img1 {
    margin-right: 15%;
    margin-left: 10%;
    border-radius: 25px;
    border: 2px solid #BCBBE1;
  }

  #lilla-pil {
    transform: rotate(90deg);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: -15%;
    margin-bottom: -2%;
  }

  #span2{
    font-size: 190%;
    text-align: center;
    margin-top: 5%;
    font-family: poppins;
    font-style: italic;
    padding-right: 7%;
    padding-left: 7%;
  }

  #two{
    margin-top: -12%;
    margin-bottom: 10%;
    margin-right: 30%;
    margin-left: 30%;
    padding: 2%;
    background-color:#ffffff;
    text-align: center;
    font-family: poppins;
    font-size: 110%;
    border-radius: 25px;
    border: 2px solid #BCBBE1;
  }

  #footer-text {
    font-family: poppins; color: #2F2D1E;
    text-decoration-color: #97b7e1;
    margin-left: 2%;
    font-size: 20px;
    padding-bottom: 20px;
  }

  #fbikon {
    margin-left:90%;
    margin-bottom: 5%;
    margin-top: 1.5%;
    position: absolute;
  }

  #igikon {
    margin-left:93%;
    margin-bottom: 5%;
    margin-top: 1.5%;
    position: absolute;
  }

   footer {
     height: 45px;
     background-color: rgba(173, 217, 255, 0.3);
     margin-bottom:0;
     margin-top: 50px;
     padding-bottom: 20px;
     text-decoration: none;
     font-size: 20px;
     font-style: normal;
     border: 1px solid;
     border-radius: 25px;
     color: black;
   }
