body{
  margin: 0;
  padding: 0;
  background:#EDECE3;
}

@media only screen and (min-width:768px) and
(max-width: 1024px) {
  .header-index{
    height:300px;
  }
}

@media screen and (max-width:767px) {
  .header-index {
    height:200px;
  }
}

main {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

header{
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items:baseline;
}

 ul {
   list-style-type: none;
   margin:10px;
   padding:35px;
 }

 li {
   float: right;
 }

 a {
   display:block;
   margin-left: 10px;
   margin-right: 60px;
   margin-top: 0px;
   padding:10px;
   background-color: rgba(173, 217, 255, 0.3);
   text-decoration: none;
   font-size: 20px;
   font-style: normal;
   border: 1px solid;
   border-radius: 25px;
   color: black;

 }

 li a:hover {
   background-color: #ADD9FF; opacity: 40%;
 }

  #hvemerjeg{
  display: flex;
  margin: 0 auto;
  align-items: center;
  }

#span1{
  font-size: 160%;
  font-style: italic;
  position:static;
  font-family: poppins;
  font-style: italic;
}

  #one{
    margin: 50px 50px 0px 100px;
    padding: 15px 20px 15px 20px;
    width: 350px;
    height:400px;
    background-color:#ffffff;
    text-align: center;
    font-family: poppins;
    font-size: 18px;
    border-radius: 25px;
    border: 3px solid #BCBBE1;
  }

  #img1 {
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 25px;
    border: 3px solid #BCBBE1;
  }

  #lilla-pil {
    transform: rotate(90deg);
    margin-right: 200px;
    margin-left: 300px;
    margin-top: -200px;
  }

  #span2{
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    font-family: poppins;
    font-style: italic;
    padding-right: 20px;
    padding-left: 20px;
  }

  #two{
    margin-top: -150px;
    margin-bottom: 170px;
    margin-right: 400px;
    margin-left: 400px;
    padding-top:15px ;
    padding-bottom:30px ;
    padding-right: 20px;
    padding-left: 10px;
    background-color:#ffffff;
    text-align: center;
    font-family: poppins;
    font-size: 18px;
    border-radius: 25px;
    border: 3px solid #BCBBE1;
  }

  #footer-text {
    font-family: poppins; color: #2F2D1E;
    text-decoration-color: #2F2D1E;
    font-size: 20px;
    padding-bottom: 20px;
  }

  footer {
    height: 45px;
    background-color: #BCBBE1; opacity:40%;
    margin-bottom:0;
    margin-top: 50px;
    margin-right: 5px;
    padding-bottom: 20px;
    border-radius: 18px;
    border: 2px solid #BCBBE1;
  }
